#container {
    width: $container-size;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    padding-top: 37px;

    #content {
      @include clearfix;
    }
}

.globalheader-off #container {
    padding-top: 0;
}
