.entry {
  position: relative;
  padding: 40px 60px;
  margin-bottom: $entry-margin-bottom;
  background-color: $entry-bg;
  box-shadow: 0 0 3px $entry-box-shadow;
  border-radius: $border-radius-base;
}

.entry-header {
  position: relative;
  padding: 0 0 10px 0;
  margin-bottom: 20px;
}

.entry-title {
  margin: 0;
  font-size: $entry-title-size;
  font-weight: $entry-title-weight;
  a {
    color: $entry-title-color;
    border-style: none;
  }
}

.date {
  font-weight: bold;
  margin-bottom: 10px;
  a {
    border-style: none;
    color: $link-color;
    font-size: $font-size-small;
  }
}

.categories {
  margin-top: 10px;
  font-size: $font-size-small;
  a {
    color: $gray-light;
  }
  &.no-categories {
    margin: 0;
  }
}

.entry-header-menu {
  position: absolute;
  bottom: 0;
  left: -60px;
  a {
  }
}

.entry-content {
  p {
    margin: 0 0 1em 0;
  }

  img {
    @extend .img-responsive;
  }

  table {
    @extend .table;
    @extend .table-bordered;
  }

  .hatena-asin-detail {
  }
}

.entry-footer {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid $entry-border;
}

.entry-footer-section {
  font-size: $font-size-small;
  color: $gray-light;
  a {
    color: $gray-light;
  }
}

.social-buttons,
.entry-footer-html {
  margin: 10px 0;
}
