#globalheader-container {
  background-color: $globalheader-bg;
  color: $globalheader-color;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 3px 3px $globalheader-box-shadow;
}
