#blog-title {
  background-color: $header-bg;
  padding: 30px 0;
  margin-bottom: $header-margin-bottom;
}

#blog-title-inner {
  background-color: $header-inner-bg;
  padding: 20px 0;
}

#title {
  width: $header-title-size;
  margin: 0 auto;
  a {
    color: $header-color;
    font-size: $header-font-size;
    font-weight: $header-font-weight;
  }
}

#blog-description {
  font-weight: normal;
  font-size: 80%;
  margin: 5px 0 0 0;
}

.header-image-enable {
  #title {
    padding-top: 70px;
  }
  #title,
  #blog-description {
    padding-left: 20px;
  }
}
