#blog-title {
  background-color: $header-bg;
  padding: 30px 0;
  margin-bottom: $header-margin-bottom;
}

#blog-title-inner {
  width: $header-title-size;
  margin: 0 auto;
  padding: 20px 60px;
}

#title {
  a {
    color: $title-color;
    font-size: $title-font-size;
    font-weight: $title-font-weight;
    border: none;
  }
}

#blog-description {
  color: $description-color;
  font-size: $description-font-size;
  font-weight: $description-font-weight;
  margin: 5px 0 0 0;
}

.header-image-enable {
  #title {
    padding-top: 70px;
  }
  #title,
  #blog-description {
    padding-left: 20px;
  }
}

#top-editarea {
  @extend #main;
  padding: 0 60px 10px;
}
