// #### headings ################################
h1,
h2 {
  padding-bottom: 8px;
}

h1 {
  border-bottom: 3px solid $gray-lighter;
}

h2 {
  border-bottom: 1px solid $gray-lighter;
}

h3 {
  &:before {
    content: '■';
    font-size: $font-size-base;
    margin-right: 4px;
  }
}


// #### blockquote ################################
blockquote {
  @extend .fa-quote-left;
  position: relative;
  &:before {
    @extend .fa;
    @extend .fa-4x;
    position: absolute;
    top: 0;
    color: $gray-lighter;
  }
  * {
    position: relative;
  }
}


// #### links ################################
a {
  border-bottom: 1px dotted $link-color;
  &:hover {
    border-bottom-style: solid;
  }
}
