// #### hatena blog ################################
// **** GlobalHeader
$globalheader-bg:       white;
$globalheader-color:    $text-color;
$globalheader-border:   $text-color;

// **** content
$content-size:        940px;

// **** two column
$main-size:             600px;
$box2-size:             300px;

// **** header
$header-size:           100%;
$header-title-size:     $content-size;
$header-margin-bottom:  0px;
$header-bg:             transparent;
$header-inner-bg:       $header-bg;
$header-color:          $text-color;
$header-font-size:      $font-size-h1;
$header-font-weight:    bold;
