// #### hatena blog ################################
// **** GlobalHeader
$globalheader-bg:       white;
$globalheader-color:    $text-color;
$globalheader-border:   $text-color;

// **** container
$container-size:        940px;

// **** two column
$main-size:             600px;
$box2-size:             300px;

// **** header
$header-color:          $text-color;
$header-font-size:      $font-size-h1;
$header-font-weight:    bold;
