// #### hatena blog ################################
// **** GlobalHeader
$globalheader-bg:       white;
$globalheader-color:    $text-color;
$globalheader-border:   $text-color;

// **** content
$content-size:          960px;

// **** two column
$main-size:             600px;
$box2-size:             300px;

// **** header
$header-size:           100%;
$header-title-size:     $content-size;
$header-margin-bottom:  0px;
$header-bg:             transparent;

$title-color:           $text-color;
$title-font-size:       $font-size-h1;
$title-font-weight:     bold;

$description-color:         $text-color;
$description-font-size:     $font-size-base;
$description-font-weight:   normal;

// **** entry
$entry-bg:              white;
$entry-margin-bottom:   60px;
$entry-box-shadow:      lighten($gray-base, 80%); // #ccc

$entry-title-size:      $font-size-h1;
$entry-title-color:     $text-color;
$entry-title-weight:    bold;

$entry-border:          $hr-border; // #ccc

// **** sidebar
$sidebar-bg:            $gray;
$sidebar-text-color:    white;
$sidebar-link-color:    white;
