// #### Colors from bootstrap-sass-official ################################
$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee


// #### Scaffolding ################################
$body-bg:               $gray-lighter;
$text-color:            $gray;

$link-color:            $gray-dark;


// #### Typography ################################
$font-family-base:      "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
$font-size-base:        14px;

$hr-border:             lighten($gray-base, 80%) // #ccc
